/* Custom styles for Ben's portfolio website. 
Not copy and pasted or built from a tutorial. */

h1 {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-family:'Helvetica Neue'
}

.navbar {
    overflow:hidden;
    background-color:#666666;
    position:fixed;
    top:0;
    width:100%;
    backdrop-filter: blur(0.8);
}

.navbar a {
    float: left;
    color:black;
    text-align:center;
    padding: 16px 16px;
    display: block;
    text-decoration: none;
    /* opacity: .30; */
    font-family:'Helvetica Neue'
}

.navbar a:hover:not(.active) {
    background-color: #111;
}

.hero {
    position: relative;
    width:100vw;
    height:50vh;
    display:flex;
    margin-top: 70px;
    margin-left: -8px;
    justify-content: center;
    align-items: center;
    flex-grow:1;
}

.hero::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background: url(https://lh3.googleusercontent.com/pw/AJFCJaVKJOz2wXiuzn5RWFlee0zUu2LMfZMvMiJOGTFJ9kVHreBbpdT6MOx0k-ShvWvqIuWV0yXNfZcvV-ndSWnO6PAeboksxoELFRZ25_ML8RzxViuynXCi1HnTojjwGgS9leM-BZsJ9QR9dC4UzZXsg4crsw=w1498-h1996-s-no?authuser=0);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
}

.hero-title {
    color: white;
    text-align:center;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
}

.body{
    margin-top:30px;
    flex:1
}

h4 {
    text-indent: 5px;
    text-align: justify;
    letter-spacing: 1px;
    font-family:monospace
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    opacity: .30;
    position:fixed;
    backdrop-filter: blur(0.8);
    top:0;
    left:0;
    height:70px;
    width: 100%;

}



.active {
    background-color:red;
}

div {
    /* border: 1px solid rgb(187, 187, 187); */
    margin-top:50px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
    padding: 20px;
    flex-grow:1;
}

body {
    background-color: #dddddd;
}